<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pizza</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://smartofood.storage.yandexcloud.net/mirpizzy_com/images/dff21c15-664e-4967-aefd-f02ce3f3265a.png" alt="Pizza" height="40" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Меню</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contacts">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">О нас</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <a href="tel:+992000000000" class="btn btn-outline-light me-2">
                            <i class="fas fa-phone-alt"></i> +992 (00) 000-00-00
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark text-light">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-4">
                    <h5>Контакты</h5>
                    <p>
                        <i class="fas fa-map-marker-alt"></i> Душанбе, Таджикистан<br>
                        <i class="fas fa-phone"></i> +992 (00) 000-00-00<br>
                        <i class="fas fa-envelope"></i> info@pizzatj.tj
                    </p>
                </div>
                <div class="col-md-4">
                    <h5>Время работы</h5>
                    <p>
                        Пн-Вс: 10:00 - 22:00<br>
                        Без выходных
                    </p>
                </div>
                <div class="col-md-4">
                    <h5>Мы в соцсетях</h5>
                    <div class="social-links">
                        <a href="#" class="text-light me-2"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="text-light me-2"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="text-light"><i class="fab fa-telegram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
